//* Variables

//* Resets
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Funnel Display", sans-serif;
}

h2 {
    font-family: "Funnel Display", sans-serif;
}

h3 {
    font-family: "Funnel Display", sans-serif;
}

.nav-link {
    font-family: "Funnel Display", sans-serif;
}

p {
    font-family: "Funnel Display", sans-serif;
}